

@mixin center-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin card-style {
height: clamp(320px, 100vh, 500px);
width: clamp(300px, 80vw, 600px);
background-image: url('/src/media/white-paper.jpg');
background-size: 380%;
border-radius: 1.5em;
box-shadow: 0.2em 0.2em 0.3em rgba(16, 27, 92, 0.2);
gap: 0.5em;
flex-direction: column;
}