$card-bkg-js: rgb(156, 224, 221);
$card-bkg-css: rgb(224, 235, 195);
$card-bkg-html: rgb(156, 224, 176);
$card-bkg-data-structures: rgb(224, 156, 196);
$card-text: rgb(128, 128, 128);
$btn-font: monospace;
$text-font: Arial, sans-serif;;
$btn-next-border: solid 0.1em rgb(176, 112, 228); 
$btn-text-color: rgb(128, 128, 128);
$dark-txt: rgb(36, 36, 36);