$card-bkg-js: rgb(156, 224, 221);
$card-bkg-css: rgb(224, 235, 195);
$card-bkg-html: rgb(156, 224, 176);
$card-bkg-data-structures: rgb(224, 156, 196);
$card-text: rgb(128, 128, 128);
$btn-font: monospace;
$text-font: Arial, sans-serif;;
$btn-next-border: solid 0.1em rgb(176, 112, 228); 
$btn-text-color: rgb(128, 128, 128);

::-webkit-scrollbar {
  width: 0.5em;

}


::-webkit-scrollbar-thumb {
  background: rgb(153, 153, 153);
  border-radius: 50px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    
}

@mixin center-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body {
    height: 100vh;
    @include center-aligned;
    flex-direction: column;
    font-family: $text-font;
    color: $card-text;
    transition: 0.3s;
    background: linear-gradient(340deg, rgba(61,150,185,1) 5%, rgba(0,251,255,1) 100%);
}

h2 {
    background: $card-bkg-css;
    padding: 1%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.card {
height: clamp(320px, 100vh, 500px);
width: clamp(300px, 80vw, 600px);
background: $card-bkg-html;
background-image: url('/src/media/white-paper.jpg');
background-size: 150%;
border-radius: 1.5em;
box-shadow: 0.3em 0.3em 0.2em rgba(36, 36, 36, 0.2);
@include center-aligned;
gap: 0.5em;
flex-direction: column;

}

button {
    background: transparent;
    //border: solid 0.1em rgb(112, 133, 228);
    box-shadow: inset 7px 0px 10px 0px rgba(128, 128, 128, 0.3);
    border-radius: 1em;
    padding: 0.5em 2em;
    font-family: $btn-font;
    color: $btn-text-color;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
         box-shadow: inset 10px 0px 10px 5px rgba(255, 255, 255, 0.9), inset 0px -5px 8px 5px rgba(128, 128, 128, 0.2), 1px 0px 0px 0px rgba(128, 128, 128, 0.05);
         color: rgb(156, 156, 156);
         transition: 0.2s;
    }
}

.next-random {
   // border: $btn-next-border;
    text-transform: uppercase;
}

.question,
.answer {
    margin: 10%;
    font-size: 1em;
    max-height: 30%;
    
}

.answer {
    height: 0;
    overflow-y: scroll;
    font-size: 14px;
    
}

img {
    max-width: 200px;
}

