@forward 'seeAll';
@use 'mixins';
@forward 'keyframes';
@use 'vars';


::-webkit-scrollbar {
  width: 0.5em;

}

::-webkit-scrollbar-thumb {
  background: rgb(105, 142, 160);
  border-radius: 50px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    
}

body {
    height: 100vh;
    @include mixins.center-aligned;
    flex-direction: column;
    gap: 5%;
    padding: 10% 5%;
    font-family: vars.$text-font;
    color: vars.$card-text;
    transition: 0.3s;
    background: linear-gradient(340deg, rgba(61,150,185,1) 5%, rgba(0,251,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.card {
@include mixins.card-style;
@include mixins.center-aligned;

}

button {
    background: transparent;
    box-shadow: inset 7px 0px 10px 0px rgba(128, 128, 128, 0.3);
    border-radius: 1em;
    padding: 0.5em 2em;
    font-family: vars.$btn-font;
    color: vars.$btn-text-color;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
         box-shadow: inset 10px 0px 10px 5px rgba(255, 255, 255, 0.9), inset 0px -5px 8px 5px rgba(128, 128, 128, 0.2), 1px 0px 0px 0px rgba(128, 128, 128, 0.05);
         color: rgb(156, 156, 156);
         transition: 0.2s;
    }
}
.category-selection {
    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;
    margin-top: 50px;
}
.category-selection > button{
  font-size: 80%;
  box-shadow: unset;
  padding: 0.2em 1em;
  border: solid 1px yellow;
  &:hover {
      background: yellow;
  }
}
.show-answer,
.next-random {
    visibility: hidden;
}
.next-random,
.reshuffle {
   // border: $btn-next-border;
    text-transform: uppercase;
}

.reshuffle {
    color:vars.$dark-txt;
    border: solid 1px vars.$dark-txt;
    box-shadow: none;
    &:hover {
        box-shadow: none;
        color: white;
    }
}
.blink {
    animation: blink 3s infinite;
}


.remaining {
    color:vars.$dark-txt;
}


.question,
.answer {
    margin: 10%;
    font-size: 1em;
    max-height: 30%;
    text-align: center;
    
}

.answer {
    height: 0;
    overflow-y: scroll;
    font-size: 14px;
    
}

.attribution {
    font-size: 0.5em;
    color: vars.$dark-txt;
    top: 2%;
    left: 2%;
    position: absolute;
}
#mk {
    color: vars.$dark-txt;
    background: peachpuff;
    padding: 0 2px;
    &:hover {
       background: plum;
    }
}

