@forward 'seeAll';
@use 'mixins';
@forward 'keyframes';
@use 'vars';


::-webkit-scrollbar {
  width: 0.5em;

}

::-webkit-scrollbar-thumb {
  background: rgb(105, 142, 160);
  border-radius: 50px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    
}

body {
    height: 100vh;
    @include mixins.center-aligned;
    flex-direction: column;
    gap: 5%;
    padding: 10% 5%;
    font-family: vars.$text-font;
    color: vars.$dark-txt;
    transition: 0.3s;
    background: rgb(98, 197, 224);
    background: linear-gradient(147deg, rgba(98, 197, 224, 1) 38%, rgba(153, 202, 255, 1) 97%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.card {
@include mixins.card-style;
@include mixins.center-aligned;
font-size: 1.2em;

}

button {
    background: transparent;
    border-radius: 1em;
    padding: 0.5em 2em;
    font-family: vars.$btn-font;
    color: vars.$dark-txt;

    cursor: pointer;
    transition: 0.2s;
    &:hover {
         transition: 0.2s;
    }
}
.category-selection {
    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;

    margin-top: 200px;
}
.category-selection > button{
  font-size: 80%;
  box-shadow: unset;
  font-weight: 600;
  color:rgb(83, 83, 83);
  padding: 0.2em 1em;
  border: solid 1px yellow;
  border-radius: 2px;
  &:hover {
      background: yellow;
  }
}
.show-answer,
.next-random {
    visibility: hidden;
}
.show-answer{
    box-shadow: inset 7px 0px 10px 0px rgba(128, 128, 128, 0.3);
    font-size: 70%;
    padding: 0.25em 1em;
    &:hover {
        box-shadow: inset 10px 0px 10px 5px rgba(255, 255, 255, 0.9),
        inset 0px -5px 8px 5px rgba(128, 128, 128, 0.2),
        1px 0px 0px 0px rgba(128, 128, 128, 0.05);
        color:rgb(150, 150, 150);

    }
}
.next-random,
.reshuffle {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 600;
}
.next-random {
    background: rgb(248, 173, 186);
    border: solid 1px rgb(253, 114, 137);
    color:vars.$dark-txt;
    box-shadow: none;
        &:hover {
            background: rgb(253, 114, 137);
            color:rgb(228, 226, 226);
            transition: 0.2s;
        }
}

.reshuffle {
    color:vars.$dark-txt;
    border: solid 1px vars.$dark-txt;
    box-shadow: none;
    &:hover {
        box-shadow: none;
        color: white;
    }
}
.blink {
    animation: blink 3s infinite;
}


.remaining {
    color:vars.$dark-txt;
}


.question,
.answer {
    margin: 10%;
    font-size: 1.1em;
    max-height: 30%;
    text-align: center;
    
}

.answer {
    height: 0;
    overflow-y: scroll;
    font-size: 0.8em;
    
}

.attribution {
    font-size: 0.5em;
    color: vars.$dark-txt;
    top: 2%;
    left: 2%;
    position: absolute;
}
#mk {
    color: vars.$dark-txt;
    background: peachpuff;
    padding: 0 2px;
    &:hover {
       background: plum;
    }
}

